*{
    margin: 0;
	padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #533738;
    overflow-wrap: break-word;
    background-color: #EFE6E4;
}

img{
    display: block;
}

a:focus{
    border-radius: 2px;
    outline: 2px solid #472f2f;
}

[class*="wrapper"]{
    margin: 0 auto;
    width: 100%;
    max-width: 1036px;
}

[class*="full"]{
    max-width: 1200px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}